*{
  margin: 0;
  padding: 0;
  overflow: hidden; 
  outline-color: #2083fe;
  font-family: 'Lato', sans-serif;
} *
/* Footer  */
header{
  font-size: 20px;
  padding-top: 10px;
  text-align: right;
  color: white;
  padding-right: 17%;
  background: rgb(30, 46, 80);
  height: 6vh;
}


a.Header{
  padding: 10px;
  color: white;
}
a.Header:link{
  text-decoration: none;
}

a.Header:hover{
  text-decoration: underline;
  text-decoration-color: white;
}

/* Div 1  */


div.div1title{
  padding-top: 5%;
  font-size: 37px;
  text-size-adjust: 30;
  width: 530px;
  color: white;
}

div.div1content{
  color: #6d80a9
}

input#email1{
  height: 37px;
  width: 375px;
  padding-right: 10px;

}

input#Div1button{
  height: 1cm;
  width: 1cm;
  color: white;
  background-color: #2083fe;
}

/* .parent {
  height :94vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color:white;
  } */
  .parent {


    /* height :99%;  */
    /* height: fit-content; */
    display: grid;
    /* grid-template-rows: repeat(2, 28%) 16% 23% 5%; */
    grid-template-columns: repeat(3, 1fr);
     grid-template-rows: repeat(2, 1.35fr) .8fr 1.2fr 20px; 
    /* grid-template-rows: repeat(2, 1fr) .8fr 1.2fr 1%; */
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }


  .div6 { grid-area: 5 / 1 / 6 / 4; }




  .div1,.div2{
    background-color: rgb(30, 46, 80);
  }
  /* DIV 1 */
  /* DIV 1 */
  .div1 { grid-area: 1 / 1 / 3 / 3; 
    border: 1px solid yellowgreen;
    
    padding-left: 20%;
    width: 100%;
    height: 100%;
    
  }
  .div1{
    align-self: center;
  }
  /* DIV 2 */
  /* DIV 2 */

  .div2 { grid-area: 1 / 3 / 3 / 4;
    border: 1px solid yellowgreen; 
  }
  
  
  .div2Text{
    font-weight: bolder;
    font-size: 20px;
    color: #556382;
    font-family: 'Lato', sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
  }
.first::placeholder{
  color: black;
}
.second::placeholder{
  color: #556382;
}

  .first,.second{
    /* margin-left: 10%; */
    /* width: auto; */
    padding: 3%;
    font-family: 'Lato', sans-serif;
    color: black;
    /* height: 30%; */
  }
  .first {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;


    border-color:grey;
    /* width : 40%; */
    border-right-color: grey;
  }
  .second {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    margin-left:-10px;
    border-color:grey;
  }
.covTextdiv2{
  padding-top: 10px;
  font-size: 18px;
}
  .covText{color:rgb(30, 46, 80);}
  .covText2{ color:#2083fe;}


  
  .white-box{
    border-radius: 4px;
    width: 340px; height: 280px; 
    background:white;
    padding: 15px;
  }
  /* DIV 3 */
  /* DIV 3 */
  /* DIV 3 */
  .div3 { grid-area: 3 / 2 / 4 / 3;
    text-align: center; 
    border: 1px solid yellowgreen;}
  
    div.div3title{
      font-size: 37px;
      text-size-adjust: 30;
      color: #1e2e50

    }
    
    div.div3content{
      padding-top: 10%;
      color: #6d80a9
    }
/* DIV 4 designs  */
    i.fas.fa-map-marker,i.fas.fa-phone,i.fas.fa-envelope {
      color:#2083fe;
      padding-right: 10px;
      }
      .div4 { grid-area: 4 / 1 / 5 / 2;
        padding-left: 40%;
        width: 100%;
        height: 100%;
        border: 1px solid yellowgreen; }

  div.div4title  {
    font-size: 20px;
      color: #1e2e50;
      padding-bottom: 20px;
  }

  .div4text{
  color: #6d80a9;
  font-family: 'Lato', sans-serif;
}
/* DIV 5 */
/* DIV 5 */

.div4,.div5{
  /* margin-bottom: 10%; */

}
  .div5{
    
    /* padding-left: 1%; */
    margin-left: 8%;
  }

  .div5 { grid-area: 4 / 2 / 5 / 4;
    border: 1px solid yellowgreen; }
      
  .div5nameLabel,.div5emailLabel{
    font-size: 17px;
    color: #6d80a9;

  }
  .div5emailLabel{
padding-left: 5%;
  }

.div5button {
 padding: 8px; 
    height: 40px;
  
}
  
input[type="submit"] {
  color: white;
  background-color: #2083fe;
  border-radius: 4px;
  border-color: transparent;
}

textarea#subject,input#fname,input#email{
  margin-left: 1%;
  border-color:transparent;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
}
  


