*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden; 
}


footer{
  text-align: right;
  color: white;
  padding-right: 40px;
  background: rgba(6, 6, 120, 0.92);
  height: 6vh;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));

  background-color: #2196F3;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid black;

  font-size: 20px;
  height: 24vh;

}
.item8{
  text-align: center;
}
.item10{
  text-align: center;
}


 .item11 {
  grid-area: 4/2/4/4;
  text-align: left;
  /* grid-column: 1 / span 3;
  grid-row: 1/2 /span 2; */
}


/* .item2{
  background-color: aquamarine;
  grid-area: 3/3/4/4;
} */


/* .top,.bottom{
  background: 100%;
}

.top{
  height: 48vh;
  background: rgba(6, 6, 120, 0.92);
}

.bottom {
  height: 48vh;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}
.bottom > div {
  background-color: rgba(85, 196, 16, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
} */
/* .wrapper{
  width: 90;
  margin: 0 auto;
  display: grid;
  padding: 10px;
  grid-template-columns: 40% 20% 40%;
}

.item{

  background: blue;
  color: brown;
  padding: 10px;
}

.item:nth-child(even){
  background: aquamarine;
} */